:root {
    --gap-s: 5px;
    --gap: 10px;
    --minus-gap: calc(var(--gap) * -1);
    --color: #333;
    --panel-bg: rgba(0, 0, 0, 0.15);
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    font: 16px/1 sans-serif;
    color: var(--color);
}

h2 {
    margin: 0;
}

kbd {
    background-color: white;
    border: 1px solid silver;
    border-radius: 3px;
    padding: 0 .5rem;
}

dd {
    margin: .5rem 0 1rem 0;
}

#view {
    background: white;
    display: block;
}

.panel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--panel-bg);
    transition: transform .2s ease;
}

.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--gap);
}

label {
    display: block;
    overflow: hidden;
    margin-bottom: var(--gap);
}

label input {
    width: 100%;
    padding: 0;
    margin: 0;
}

.label-text {
    display: block;
    font-variant: small-caps;
    text-transform: lowercase;
    margin-bottom: var(--gap-s);
}

.panel-closed {
    transform: translateX(100%);
}

.panel-settings {
    overflow-y: auto;
    flex: 1 1 auto;
    padding: 0 var(--gap);
}

button {
    background-color: grey;
    color: white;
    border: none;
    line-height: 4;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}

.delete {
    color: var(--color);
    background-color: transparent;
}

.delete:hover {
    color: white;
    background-color: red;
}

.close {
    display: block;
}

.help {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: var(--panel-bg);
    transition: transform .2s ease;
    padding: var(--gap);
    overflow-y: auto;
}

.help-closed {
    transform: translateX(-100%);
}

#browser-not-supported {
    display: none;
}

.error-header {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: .5em 1em;
    background-color: #c23;
    color: white;
}